<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>BugMark</title>
    <%= csrf_meta_tags %>

    <link href="/bugfavicon.ico" rel="icon" type="image/x-icon" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" crossorigin="anonymous">

  </head>

  <body>

    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">BugMark</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <%= nav_link("Home"      , "/")          %>
          <%= nav_link("Repos"     , "/repos")     %>
          <%= nav_link("Bugs"      , "/bugs")      %>
          <%= nav_link("Contracts" , "/contracts") %>
        </ul>
        <%= render "layouts/devise" %>
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="container-fluid" style="margin-top: 65px;">

    <%= yield %>

    <hr>

    <footer>
      <!-- <p>&#38;copy; Company 2017</p> -->
    </footer>

    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript ================ -->
    <!-- Placed at the end so the pages load faster -->

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" crossorigin="anonymous"></script>

  </body>

</html>
